.reveal {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: #657b83; }
div.csl-bib-body {
    font-size: 10pt;
    text-align: left;
    overflow-y: auto  !important;
    overflow-x: hide  !important;
    height: 100%;
    column-count: 3;
}
div.csl-entry {
    margin-left: 2em;
    margin-top: 1em;
    clear: both;
}
